// $min-section-height: 628px;
$background-color: #EEF1FB;
$our-services-padding-top: 174px;
$our-services-padding-bottom: 185px;

.our-services {
    position: relative;
    // min-height: $min-section-height;
    padding-top: $our-services-padding-top;
    padding-bottom: $our-services-padding-bottom;
    // background-image: url("background_1.svg");

    .our-services-content {
        background-color: $background-color;
    }

    .illustration-placeholder {
        height: 370px;
        width: 100%;
        background-color: burlywood;
        border-radius: 10px;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        background-color: white;
        background-image: url("background_top.svg");
        background-repeat: no-repeat;
        background-size: 101%;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        height: $our-services-padding-top;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        background-color: white;
        background-image: url("background_bottom.svg");
        background-repeat: no-repeat;
        background-size: 101%;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 1px;
        height: $our-services-padding-bottom;
    }

    .page-header {
        margin-bottom: 48px;
    }
}

.our-services-illustration {
    // padding-right: 95px!important;
}

// .our-services-info {
//     margin-top: 40px;
//     font-size: 14px;
//     line-height: 23px;
// }

.our-services-list {
    .item {

        h3 {
            font-size: 14px;
            line-height: 17px;
            height: 100%;
            margin: 0;

        }

        position: relative;
        border-bottom: 1px solid #E6E6E6;
        overflow: hidden;


        label {
            display: block;
            margin: 0;
            height: 100%;
            padding: 20px 0;
            cursor: pointer;
        }

        p {
            max-height: 0px;
            overflow: hidden;
            margin: 0;
            // transition: max-height .2s ease-in-out;
        }

        &::before {
            content: "";
            position: absolute;
            right: 0;
            top: 20px;
            display: block;
            width: 14px;
            height: 3px;
            background-color: #246AF0;
            z-index: 1;
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 20px;
            display: block;
            width: 14px;
            height: 3px;
            background-color: #246AF0;
            transform: rotate(90deg);
            transition: transform .2s ease-in-out;
            z-index: 1;
        }
        &.expanded::after {
            transform: rotate(0deg)
        }
        &.expanded {
            padding-bottom: 20px;
            p {
                max-height: 500px;
                padding-top:20px
            }
        }
           
    }

    input {
        display: none;
    }
}