// $min-section-height: 628px;
$background-color: #EEF1FB;
$garanties-padding-top: 222px;
$garanties-padding-bottom: 220px;

.garanties {
    position: relative;
    // min-height: $min-section-height;
    padding-top: $garanties-padding-top;
    padding-bottom: $garanties-padding-bottom;
    // background-image: url("background_1.svg");

    .garanties-content {
        background-color: $background-color;
    }

    // .illustration-placeholder {
    //     height: 370px;
    //     width: 100%;
    //     background-color: burlywood;
    //     border-radius: 10px;
    // }

    &:before {
        content: "";
        display: block;
        position: absolute;
        background-color: white;
        background-image: url("background_top.svg");
        background-repeat: no-repeat;
        background-size: 101%;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        height: $garanties-padding-top;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        background-color: white;
        background-image: url("background_bottom.svg");
        background-repeat: no-repeat;
        background-size: 101%;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 1px;
        height: $garanties-padding-bottom;
    }

    .page-header {
        margin-bottom: 48px;
    }
    .garanties-item {
        margin-bottom: 45px;

        .default-header {
            margin-bottom: 20px;
        }
    }
    .garanties-form {
        h3 {
            margin-bottom: 40px;
            max-width: 442px;

            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 29px;
            letter-spacing: 0.02em;

            color: #444444;
        }
    }
}

.our-services-illustration {
    // padding-right: 95px!important;
}

// .our-services-info {
//     margin-top: 40px;
//     font-size: 14px;
//     line-height: 23px;
// }

